body {
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

header {
    background-size: cover;
    color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    padding: 50px 0;
}

.card {
    
    margin-bottom: 20px; /* Space below the cards */
}

.card img {
    height: 350px;
    object-fit: cover;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #000000;
}

.custom-badge {
    background-color: lightblue;
    color: black;
}

@media (max-width: 768px) {
    /* Styling for small devices */
    .navbar-nav {
        background-color: #f8f9fa;
        text-align: center;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
    .navbar-toggler {
        margin-right: 1rem;
    }
}

@media (min-width: 768px) {
    /* Adjustments for medium to large devices */
    .navbar-nav {
        display: flex;
        justify-content: flex-end;
    }
}




